<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
package="grand.app.moon">

<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.RECORD_AUDIO" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.RECORD_AUDIO" />
<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

<queries>
  <provider android:authorities="com.facebook.katana.provider.PlatformProvider" /> <!-- allows app to access Facebook app features -->
  <provider android:authorities="com.facebook.orca.provider.PlatformProvider" /> <!-- allows sharing to Messenger app -->
</queries>
<application
  android:name="grand.app.moon.core.MyApplication"
  android:allowBackup="false"
  android:icon="${appIcon}"
  android:label="@string/app_name"
  android:largeHeap="true"
  android:networkSecurityConfig="@xml/network_security_config"
  android:requestLegacyExternalStorage="true"
  android:roundIcon="${appRoundIcon}"
  android:theme="@style/Theme.AppTheme"
  android:supportsRtl="true"
  android:localeConfig="@xml/locales_config"
  tools:replace="android:allowBackup,android:supportsRtl">
  <!--android:resource-->

  <!-- name doesn't change, value = your class fully name spaced-->
  <meta-data android:name="com.onesignal.NotificationServiceExtension"
    android:value="grand.app.moon.core.NotificationServiceExtension" />

  <service
    android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
    android:enabled="false"
    android:exported="false">
    <meta-data
      android:name="autoStoreLocales"
      android:value="true" />
  </service>

  <provider
    android:name="androidx.core.content.FileProvider"
    android:authorities="grand.app.moon.fileprovider"
    android:exported="false"
    android:grantUriPermissions="true"
    tools:replace="android:authorities">
    <meta-data
      android:name="android.support.FILE_PROVIDER_PATHS"
      android:resource="@xml/provider_paths"
      tools:replace="android:resource"/>
  </provider>

  <uses-library android:name="com.google.android.maps" />


  <uses-library
    android:name="org.apache.http.legacy"
    android:required="false" />

  <!--    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>-->
  <!--    <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>-->

  <meta-data
    android:name="com.google.android.gms.version"
    android:value="@integer/google_play_services_version" />
  <meta-data
    android:name="com.google.android.geo.API_KEY"
    android:value="@string/google_geo_api_key" />


  <meta-data
    android:name="com.google.firebase.messaging.default_notification_icon"
    android:resource="@mipmap/ic_launcher" />
  <meta-data
    android:name="com.google.firebase.messaging.default_notification_color"
    android:resource="@color/colorPrimary" />

  <meta-data
    android:name="com.facebook.sdk.ApplicationId"
    tools:replace="android:value"
    android:value="716648052821423" />
  <!--    <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>-->

  <activity
    android:name="com.facebook.FacebookActivity"
    android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
    android:label="@string/app_name" />

  <provider
    android:authorities="com.facebook.app.FacebookContentProvider2976885465678018"
    android:name="com.facebook.FacebookContentProvider"
    android:exported="true" />

  <activity
    android:name="com.facebook.CustomTabActivity"
    android:exported="true">
    <intent-filter>
      <action android:name="android.intent.action.VIEW" />

      <category android:name="android.intent.category.DEFAULT" />
      <category android:name="android.intent.category.BROWSABLE" />

      <data android:scheme="@string/fb_login_protocol_scheme" />
    </intent-filter>
  </activity>

  <activity
    android:name="grand.app.moon.presentation.splash.MASplash2Activity"
    android:exported="true"
    android:configChanges="locale|layoutDirection"
    android:screenOrientation="portrait"
    android:theme="@style/Theme.AppTheme">
    <meta-data
      android:name="android.app.lib_name"
      android:value="" />
    <intent-filter>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    <intent-filter android:autoVerify="true">
      <action android:name="android.intent.action.VIEW" />

      <category android:name="android.intent.category.DEFAULT" />
      <category android:name="android.intent.category.BROWSABLE" />

      <data android:scheme="https" />
      <data android:scheme="http" />
      <data android:host="*.souqmoon.com" />
      <data android:host="*.sooqmoon.net" />

    </intent-filter>
  </activity>

  <activity
    android:name="grand.app.moon.presentation.splash.SplashActivity"
    android:screenOrientation="portrait"
    android:theme="@style/Theme.AppTheme"
    android:exported="true">
  </activity>

  <activity
    android:name="grand.app.moon.presentation.intro.IntroActivity"
    android:exported="true"
    android:screenOrientation="portrait" />

  <activity
    android:name="grand.app.moon.presentation.addStore.AddStoreActivity"
    android:exported="true"
    android:screenOrientation="portrait" />


  <activity
    android:name=".presentation.story.storyView.screen.StoryDisplayActivity"
    android:exported="true"
    android:screenOrientation="portrait" />

  <activity
    android:name="grand.app.moon.presentation.auth.AuthActivity"
    android:configChanges="orientation|screenSize"
    android:screenOrientation="portrait"
    android:windowSoftInputMode="adjustResize|stateHidden" />

  <activity
    android:name="grand.app.moon.presentation.home.HomeActivity"
    android:exported="true"
    android:configChanges="orientation|screenSize"
    android:screenOrientation="portrait"
    android:windowSoftInputMode="adjustResize|stateHidden">
    <!--      <intent-filter android:autoVerify="true">-->
    <!--        <action android:name="android.intent.action.VIEW" />-->
    <!--        <category android:name="android.intent.category.DEFAULT" />-->
    <!--        <category android:name="android.intent.category.BROWSABLE" />-->
    <!--        <data android:scheme="geo" />-->
    <!--        <data android:scheme="https" />-->
    <!--        <data android:scheme="http" />-->

    <!--        <data android:host="souqmoon.com" />-->

    <!--      </intent-filter>-->
    <nav-graph android:value="@navigation/nav_category_list_ads" />
    <nav-graph android:value="@navigation/nav_account" />
    <nav-graph android:value="@navigation/nav_ad_list" />
    <nav-graph android:value="@navigation/nav_ads" />
    <nav-graph android:value="@navigation/nav_auth" />
    <nav-graph android:value="@navigation/nav_home" />
    <nav-graph android:value="@navigation/nav_settings" />
  </activity>

  <!-- Start Google Services -->
  <!--    <meta-data-->
  <!--      android:name="com.google.android.geo.API_KEY"-->
  <!--      android:value="@string/google_api_key" />-->
  <!-- End Google Services -->
  <!--    tafawaqtafawaq@gmail.com-->

  <!--    tafawaq123tafawaq-->
  <service
    android:name="grand.app.moon.core.MyFirebaseMessagingService"
    android:exported="true">
    <intent-filter>
      <action android:name="com.google.firebase.MESSAGING_EVENT" />
    </intent-filter>
  </service>

  <!--<activity
    android:name="grand.app.moon.presentation.splash.Splash2Activity"
    android:exported="true"
    android:screenOrientation="portrait"
    android:theme="@style/Theme.AppTheme">
    <meta-data
      android:name="android.app.lib_name"
      android:value="" />
  </activity>-->
</application>

</manifest>
